h1 {
	color: red;
	font-size: 200%;
	font-weight: medium;
}
			
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #444;
}

img {
	height:100px;
	width:100px;
	display: block;
	margin: auto;
}

.text-small {
	color: #444;
	font-size: 50%;
	font-weight: medium;
	
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  color: #999;
}
.form-signin .checkbox {
  font-weight:200;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  color: black;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
			.modal-header{
				background-color: #e3f2fd;	
			}
			
			.modal-title{
				margin-top: 0px; 
				background-color: #e3f2fd;	
			}

			#modalA-header{
				background-color: #e3f2fd;	
				background-color: #e3f2fd;	
			}
			
			#modalA-title{
				margin-top: 0px; 
				background-color: #e3f2fd;	
			}

