[Desktop Entry]
Type=Application
Name[af]=Meld af
Name[ar]=اخرج
Name[be]=Выйсці
Name[bg]=Излез
Name[bn]=লগ-আউট
Name[bn_IN]=লগ-আউট
Name[ca]=Surt
Name[cs]=Odhlásit se
Name[da]=Log ud
Name[de]=Abmelden
Name[el]=Αποσύνδεση
Name[en_GB]=Shutdown...
Name[es]=Cerrar sesión
Name[et]=Väljalogimine
Name[eu]=Amaitu saioa
Name[fa]=خروج
Name[fi]=Kirjaudu ulos
Name[fo]=Útrita
Name[fr]=Déconnexion
Name[frp]=Modar
Name[gl]=Saír
Name[he]=ניתוק
Name[hr]=Odjava
Name[hu]=Kijelentkezés
Name[hy]=Անջատել...
Name[id]=Log keluar
Name[is]=Skrá út
Name[it]=Chiudi sessione
Name[ja]=ログアウト
Name[kk]=Жүйеден шығу
Name[km]=ចាកចេញ
Name[ko]=로그아웃
Name[lg]=Komya olutuula
Name[lt]=Atsijungti
Name[lv]=Darba beigšana
Name[ms]=LogKeluar
Name[nb]=Logg ut
Name[nl]=Afmelden
Name[nn]=Logg ut
Name[pa]=ਲਾਗਆਉਟ
Name[pl]=Wyloguj
Name[pt]=Sair
Name[pt_BR]=Desconectar
Name[ro]=Ieșire
Name[ru]=Завершить cеанс
Name[sk]=Odhlásiť
Name[sl]=Odjava
Name[sr]=Одјави се
Name[sr@latin]=Odjavi se
Name[sv]=Logga ut
Name[te]=లాగౌట్
Name[th]=ออกจากระบบ
Name[tr]=Çık
Name[tt_RU]=Системадан чыгу
Name[ug]=تىزىمدىن چىقىش
Name[uk]=Вихід
Name[ur]=لاگ آؤٹ
Name[ur_PK]=لاگ آؤٹ
Name[vi]=Đăng xuất
Name[zh_CN]=注销
Name[zh_TW]=登出
Name=Logout
Comment[es]=Opciones de apagado y cierre de sesión
Comment=Shutdown and logout options
Categories=System
Icon=system-shutdown
Exec=pishutdown
StartupNotify=false
Terminal=false
